* {
	box-sizing: border-box;
}

body {
  margin-top: 50px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
font-family: 'Bree Serif', serif;
font-size: 25px;
background-color: transparent;
color: white;
float: left;

/* navbar */ 
}
.navbar-brand {
	font-size: 25px;
	margin-right: 40px;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #cb5c14; }

.navbar-inverse {
	background-color: #080808;

}
.navbar-inverse .navbar-brand {
	color: #cb5c14;
}
.navbar-inverse .navbar-nav>li>a {
	color: #cb5c14;
}

.full {
    background: url('../img/2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.row {
	margin-top: 150px;
	
}	
#kedy {
	background-color: black;
	opacity: 0.8;
	font-size: 2em;
	position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}





@media (max-width: 767px) {
.nav>li:hover {
background-color: grey;
}
}

@media (max-width: 339px) {
	.navbar-brand {
	margin-right: 15px;
}